.wrapper{width: 960px;}

h1{text-decoration: underline;
margin-left: 250px;}

h2{margin-left: 350px;
margin-bottom: 50px;}

h3{margin-left: 40px;
margin-top: 50px;}

.website{margin-left: 40px;
margin-top: 50px;
font-size: 20px;}

.duncan{margin-left: 290px;}

.author{text-decoration: underline;
margin-top: 50px;}

.intro{margin-left: 140px;
font-size: 20px;}

.bullets{font-size: 20px;}